In [117]:
import pandas as pd
import numpy as np

In [118]:
 # Save path to data set in a variable
polldata_file = "election_data.csv"

In [119]:
 # Use Pandas to read data
poll_file_df = pd.read_csv(polldata_file)
poll_file_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [120]:
# complete_candidate_count = poll_file_df("Candidate").sum()
# complete_candidate_count

candidates_count = poll_file_df["Candidate"].count()

candidates_count

3521001

In [76]:
total_votes = len(poll_file_df)
total_percent_count_per_candidate = poll_file_df["Candidate"].value_counts()
total_percent_count = pd.DataFrame(round((total_percent_count_per_candidate/total_votes)*100), )
total_percent_count.head()

          Candidate
Khan           63.0
Correy         20.0
Li             14.0
O'Tooley        3.0

In [122]:
total_count = poll_file_df["Candidate"].value_counts()
total_count.head()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [108]:
# # Collect a list of all the unique values in "Preferred Position"
# poll_file_df["Candidate"].unique()

In [107]:
# poll_votes_df = poll_file_df.loc[poll_file_df["County"] == "Marsh", :]
# poll_votes_df.head()

In [123]:
# total_votesss_df = poll_file_df["Candidate"].value_counts()

# total_votesss_df

In [124]:
print("Election Results")

print("------------------------------------------------")

print(f"Total Votes: {candidates_count}")

print("------------------------------------------------")

print(f"{total_count})")

print("------------------------------------------------")

print(f"{total_percent_count}")

print("------------------------------------------------")
      
print(f"Winner: Khan")
print("------------------------------------------------")

Election Results
------------------------------------------------
Total Votes: 3521001
------------------------------------------------
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64)
------------------------------------------------
          Candidate
Khan           63.0
Correy         20.0
Li             14.0
O'Tooley        3.0
------------------------------------------------
Winner: Khan
------------------------------------------------

In [25]:
total_votes = len(poll_file_df)
total_percent_count_per_candidate = poll_file_df["Candidate"].value_counts()
total_percent_count = pd.DataFrame(round((total_percent_count_per_candidate/total_votes)*100), )
total_percent_count.head()

          Candidate
Khan           63.0
Correy         20.0
Li             14.0
O'Tooley        3.0

In [47]:
#NEWONE####################

total_count = poll_file_df["Candidate"].value_counts()
total_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64