In [32]:
import pandas as pd

In [33]:
 # Save path to data set in a variable
data_file = "budget_data.csv"

In [34]:
 # Use Pandas to read data
budget_file_df = pd.read_csv(data_file)
budget_file_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [35]:
budget_file_df.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [36]:
budget_file_df["Date"].head()

0    Jan-2010
1    Feb-2010
2    Mar-2010
3    Apr-2010
4    May-2010
Name: Date, dtype: object

In [37]:
# # Calculate the number of unique Months in the DataFrame
# Date_count = len(budget_file_df["Date"].unique())

# # Calculate the earliest/latest date 
# earliest_year = budget_file_df["Date"].min()
# latest_year = budget_file_df["Date"].max()

# # Hint: use the pandas' sum() method to get the sum for each row
# budget_file_df['Total Months'] = budget_file_df.iloc[:, 2:].sum(axis=1)

total_months = budget_file_df["Date"].count()

total_months

86

In [38]:
# summary_table = pd.DataFrame({"Total Months": [Date_count],
#                               "Earliest Year": earliest_year,
#                               "Latest Year": latest_year})
# summary_table

In [39]:
# The sum of Profit/Losses
profit_losses_df = budget_file_df["Profit/Losses"].sum()

profit_losses_df.sum()

38382578

In [40]:
# The average change of the profit/losses
count = budget_file_df["Profit/Losses"].value_counts()
count

102685    1
144175    1
359333    1
617856    1
268997    1
         ..
671099    1
988505    1
309978    1
477532    1
506702    1
Name: Profit/Losses, Length: 86, dtype: int64

In [41]:
#The average change of the profit/losses
budget_file_df["profit/losses"] = budget_file_df["Profit/Losses"].diff()
average_change = round(budget_file_df["profit/losses"].mean(), 2)



average_change

-2315.12

In [42]:
# Calculate the earliest/latest date 
small_amount = budget_file_df["profit/losses"].min()
big_amount = budget_file_df["profit/losses"].max()

In [43]:
# Hint: use the pandas' sum() method to get the sum for each row
big_amount_increase = budget_file_df.loc[budget_file_df["profit/losses"] == big_amount, "Date"]
small_amount_decrease = budget_file_df.loc[budget_file_df["profit/losses"] == small_amount, "Date"]

In [44]:
big_Profit_increase = big_amount_increase.iloc[0]
small_Profit_decrease = small_amount_decrease.iloc[0]

In [45]:
Increase_Profit = budget_file_df.loc[budget_file_df["profit/losses"] == big_amount, "Date"]
Increase_Profit

25    Feb-2012
Name: Date, dtype: object

In [46]:
Decrease_Profit = budget_file_df.loc[budget_file_df["profit/losses"] == small_amount, "Date"]
Decrease_Profit

44    Sep-2013
Name: Date, dtype: object

In [47]:
print("Financial Analysis")
print("------------------------------------------------")
print(f"Total Months: {total_months}")
print(f"Total Revenue: ${profit_losses_df}")
print(f"Average Revenue Change: ${average_change}")
print(f"Greatest Increase: {big_Profit_increase} ({big_amount})")
print(f"Greatest Decrease: {small_Profit_decrease} ({small_amount})")

Financial Analysis
------------------------------------------------
Total Months: 86
Total Revenue: $38382578
Average Revenue Change: $-2315.12
Greatest Increase: Feb-2012 (1926159.0)
Greatest Decrease: Sep-2013 (-2196167.0)